section#about.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
  .image.image1(style="flex-grow: 1")
  .text
    h2 About
    p
      b Genesis
      | &nbsp;is a fully controllable bot which comes with a lot of utilities focused around one thing: helping you play Warframe better
      br
      br
      b The default set of features includes and it's not limited to:
      br
    ul
      li Warframe Event Tracking
      li Warframe item and information retrieval
      li Item pricechecking, powered by &nbsp;
        a.darker(href="https://nexushub.co" target="_blank") NexusHub.co
        |  &nbsp;and&nbsp;
        a.darker(href="https://warframe.market" target="_blank") Warframe.market
      li On-demand Warframe worldstate information
      li Simple logging (deletes, users leaving, users joining, bans)
      li Role joining/leaving via commands
      li Dynamic voice channel creation