section.discord-widget
  iframe.d-flex.image(
    src="https://discordapp.com/widget?id=146691885363232769&theme=dark",
    allowtransparency="true",
    frameborder="0"
    )
  .text
    h2 Support
    p
      b Genesis
      | &nbsp;has a wide user base and lots of people more than happy to help make your experience easier.