section.join.d-flex.justify-content-center.flex-wrap
  a.links-suppressor.btn-pill.order-1.white(href='https://discord.gg/DuFunUv' target='_blank')
    | Join
  a.links-suppressor.btn-pill.order-2.white(href='https://discordapp.com/api/oauth2/authorize?client_id=167095321740967937&scope=bot%20applications.commands&permissions=806841424' target='_blank')
    | Invite
