section#rules.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
  .image.image2(style='flex-grow: 1')
  .text
    h2 Rules
    ul
      li Be cool
      li Read&nbsp;
        +channel('frequently-asked', '146691885363232769', '273484455040253952')
        | ,&nbsp;
        +channel('upstatus', '146691885363232769', '146691885363232769')
        | ,&nbsp;and&nbsp;
        +channel('known-issues', '146691885363232769', '374968313433817099')
        | &nbsp; before asking questions so you don't get sarcastic answers!
      li Stick some sweet questions in&nbsp;
        +channel('support-talk-requests', '146691885363232769', '171497120723894272')
        | &nbsp;or some requests in&nbsp;
        +channel('requests', '146691885363232769', '617209954809413632')
      li Don't antagonize fellow Discordians
      li Help out when you understand what's up!
      li The server isn't for trading, grouping up, or stuff like that. But if you want to, you can, just don't clog chat
      li Play&nbsp;
        a.darker.channel(href='discord:///library/422772752647323649/launch') Warframe
      