- const page = 'commands'
include ../mixins/user
include ../mixins/channel
include ../mixins/game

html
  include ../partials/head.pug
  head
    title Genesis | Block Commands
  body
    .container.d-flex.flex-column
      include ../partials/header.pug

      include ../partials/commands-legend.pug
      .inner.d-flex.flex-column
        section.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap
          .text
            h3 Block Commands
            include ../partials/sections/categories/block

      include ../partials/footer.pug