.d-flex.flex-column.flex-column-reverse.overlay
  section.d-flex.justify-content-between.flex-lg-nowrap.flex-wrap.flex-row-reverse
    .text
      h4 Legend
      div.legend
        span
          i.c-primary.fas.fa-user-shield &nbsp;
          | Requires Elevated Permissions
        br
        span
          i.c-p-accent.fas.fa-crown &nbsp;
          | Bot Owner Only
        br
        span
          i.c-secondary.fas.fa-comment &nbsp;
          | Available in DMs
        br
        span
          i.c-s-accent.fas.fa-meteor &nbsp;
          | Protected from Blacklist
        br
        span
          i.c-accent.fas.fa-code &nbsp;
          | Inline Command