.footer.d-flex.justify-content-between.flex-wrap
  .block.d-flex.flex-column.justify-content-between.order-1
    h3 Maintainers
    +user('Tobiah', '0001', '76685590585671680')
    +user('Nspace', '9220', '121311008282247168')
    +user('ev0xpr0x', '1337', '295493423295889418')
    +user('Sphirical', '0001', '102020087891902464')
  .block.d-flex.flex-column.justify-content-between.order-2
    h3 Moderators
    +user('Asahi', '0952', '99879320037654528')
    +user('ev0xpr0x', '1337', '295493423295889418')
    +user('Tobiah', '0001', '76685590585671680')

  p.align-self-end.order-3 Genesis is... community driven.

  script(src='~/../node_modules/jquery/dist/jquery.slim.min.js')
  script(src='~/../node_modules/popper.js/dist/popper.min.js')
  script(src='~/../node_modules/bootstrap/dist/js/bootstrap.bundle.js')
  script(type='text/javascript').
    $(function () { $('[data-toggle="tooltip"]').tooltip() })