div.command
  h4.command-name allow inline commands  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change if this channel can use inline commands
      ul.params
        li.param 
          pre &#60;on&#62;
        li.param 
          pre &#60;off&#62;

div.command
  h4.command-name clear permissions  &nbsp;
    include ../../decals/elevated
    include ../../decals/blacklist
  ol.usages
    li.usage
      span.description Clear channel permisions for this or specified room, or guild
      ul.params

div.command
  h4.command-name clear pings  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Clears all pings for the server
      ul.params

div.command
  h4.command-name delete after respond  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change if the bot to delete commands and/or responses after responding in this channel
      ul.params
        li.param 
          pre &#60;all&#62;
        li.param 
          pre &#60;command&#62;
        li.param 
          pre &#60;respond&#62;
        li.param 
          pre &#60;none&#62;

div.command
  h4.command-name disable  &nbsp;
    include ../../decals/elevated
    include ../../decals/blacklist
  ol.usages
    li.usage
      span.description Disable a command for a role in a channel or channels
      ul.params
        li.param 
          pre &#60;command id> in <channel> for <role|user&#62;

div.command
  h4.command-name enable  &nbsp;
    include ../../decals/elevated
    include ../../decals/blacklist
  ol.usages
    li.usage
      span.description Enable a command for a role in a channel or channels
      ul.params
        li.param 
          pre &#60;command id> in <channel> for <role|user&#62;

div.command
  h4.command-name respond to settings  &nbsp;
    include ../../decals/elevated
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Change if this channel has settings changes responded in it
      ul.params
        li.param 
          pre &#60;on&#62;
        li.param 
          pre &#60;off&#62;