div.command
  h4.command-name help  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Receive the full welcome data by visiting the provided link.
      ul.params
    li.usage
      span.description Query for info about a specific command
      ul.params
        li.param 
          pre &#60;command search&#62;

div.command
  h4.command-name ping  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Ping Genesis to test connectivity
      ul.params

div.command
  h4.command-name [Query]  &nbsp;
    include ../../decals/direct
    include ../../decals/inline
  ol.usages
    li.usage
      span.description Get stats for a Warframe
      ul.params
        li.param 
          pre &#60;[warframe name]&#62;

div.command
  h4.command-name avatar  &nbsp;
    include ../../decals/owner
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Set the bot's avatar url
      ul.params
        li.param 
          pre &#60;avatar url&#62;

div.command
  h4.command-name delete webhook in  &nbsp;
    include ../../decals/owner
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Delete the webhook for a given channel id
      ul.params
        li.param 
          pre &#60;channel id&#62;

div.command
  h4.command-name diag  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Run some basic diagnostics
      ul.params

div.command
  h4.command-name leaveserver  &nbsp;
    include ../../decals/owner
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Tell the bot to leave a server, if it's cached
      ul.params
        li.param 
          pre &#60;server id&#62;

div.command
  h4.command-name reload  &nbsp;
    include ../../decals/owner
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Reload bot modules
      ul.params

div.command
  h4.command-name restart  &nbsp;
    include ../../decals/owner
    include ../../decals/direct
    include ../../decals/blacklist
  ol.usages
    li.usage
      span.description Restart bot
      ul.params

div.command
  h4.command-name username  &nbsp;
    include ../../decals/owner
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Set the bot's username
      ul.params
        li.param 
          pre &#60;username&#62;

div.command
  h4.command-name language  &nbsp;
    include ../../decals/elevated
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Change this channel's language
      ul.params
        li.param 
          pre &#60;en&#62;
        li.param 
          pre &#60;de&#62;
        li.param 
          pre &#60;es&#62;
        li.param 
          pre &#60;fr&#62;
        li.param 
          pre &#60;it&#62;
        li.param 
          pre &#60;ko&#62;
        li.param 
          pre &#60;pl&#62;
        li.param 
          pre &#60;pt&#62;
        li.param 
          pre &#60;ru&#62;
        li.param 
          pre &#60;zh&#62;

div.command
  h4.command-name platform  &nbsp;
    include ../../decals/elevated
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Change this channel's platform
      ul.params
        li.param 
          pre &#60;pc&#62;
        li.param 
          pre &#60;ps4&#62;
        li.param 
          pre &#60;xb1&#62;
        li.param 
          pre &#60;swi&#62;

div.command
  h4.command-name poll:  &nbsp;
    include ../../decals/direct
    include ../../decals/inline
  ol.usages
    li.usage
      span.description Create a simple poll
      ul.params
        li.param 
          pre &#60;poll statement&#62;

div.command
  h4.command-name roll?  &nbsp;
    include ../../decals/direct
    include ../../decals/inline
  ol.usages
    li.usage
      span.description roll between rivens
      ul.params
        li.param 
          pre &#60;riven link to vote about rolling&#62;

div.command
  h4.command-name when borko  &nbsp;
    include ../../decals/direct
    include ../../decals/inline
  ol.usages
    li.usage
      span.description Display the current status of the Void Trader
      ul.params