div.command
  h4.command-name list cc  &nbsp;
  ol.usages
    li.usage
      span.description List custom commands for this guild
      ul.params

div.command
  h4.command-name ping cc  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change if this channel's use custom commands will ping
      ul.params
        li.param 
          pre &#60;custom commands enabled&#62;

div.command
  h4.command-name allow custom commands  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change if this channel can use custom commands
      ul.params
        li.param 
          pre &#60;custom commands enabled&#62;