div.command
  h4.command-name meme  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Generates a random meme from r/dankmemes
      ul.params

div.command
  h4.command-name foodporn  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Generates a random food porn item from r/foodporn
      ul.params

div.command
  h4.command-name steamdeals  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Generates a random steam deal from r/steamdeals
      ul.params

div.command
  h4.command-name xboxdeals  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Generates a random steam deal from r/xboxdeals
      ul.params

div.command
  h4.command-name 8ball  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Get your 8Ball question answered!
      ul.params

div.command
  h4.command-name corgi  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Genesis gets you a corgi
      ul.params

div.command
  h4.command-name echo  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Echo your message
      ul.params

div.command
  h4.command-name hug  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Hug Genesis
      ul.params

div.command
  h4.command-name joke  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Genesis tells a joke
      ul.params