div.command
  h4.command-name set ban log  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Set the ban log channel
      ul.params
        li.param 
          pre &#60;channel id&#62;

div.command
  h4.command-name set member remove log  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Set the member removal log channel
      ul.params
        li.param 
          pre &#60;channel id&#62;

div.command
  h4.command-name set message delete log  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Set the message delete log channel
      ul.params
        li.param 
          pre &#60;channel id&#62;

div.command
  h4.command-name set mod  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change the configured mod role
      ul.params
        li.param 
          pre &#60;mod role id&#62;

div.command
  h4.command-name set vulgar log  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Set the vulgarity log channel
      ul.params
        li.param 
          pre &#60;channel id&#62;

div.command
  h4.command-name set unban log  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Set the unban log channel
      ul.params
        li.param 
          pre &#60;channel id&#62;