div.command
  h4.command-name allow private room  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change if the bot is allowed to create private channels
      ul.params
        li.param 
          pre &#60;private rooms allowed&#62;

div.command
  h4.command-name create  &nbsp;
  ol.usages
    li.usage
      span.description Display instructions for creating temporary rooms
      ul.params
    li.usage
      span.description Create temporary text and voice channels for the calling user.
      ul.params
        li.param 
          pre &#60;room | raid | team&#62;
    li.usage
      span.description Create temporary text and voice channels for the calling user and any mentioned users/roles.
      ul.params
        li.param 
          pre &#60;room | raid | team&#62;
        li.param 
          pre &#60;users and/or role&#62;
    li.usage
      span.description Create temporary text and voice channels for the calling user and any mentioned users/roles, with a custom name
      ul.params
        li.param 
          pre &#60;room | raid | team&#62;
        li.param 
          pre &#60;users and/or role&#62;
        li.param 
          pre &#60;-n name&#62;
        li.param 
          pre &#60;--no-text&#62;
        li.param 
          pre &#60;--public&#62;
        li.param 
          pre &#60;--text&#62;
        li.param 
          pre &#60;--locked&#62;

div.command
  h4.command-name destroy room  &nbsp;
  ol.usages

div.command
  h4.command-name hide  &nbsp;
  ol.usages

div.command
  h4.command-name invite  &nbsp;
  ol.usages

div.command
  h4.command-name lock  &nbsp;
  ol.usages

div.command
  h4.command-name lurk  &nbsp;
  ol.usages

div.command
  h4.command-name rename room  &nbsp;
  ol.usages

div.command
  h4.command-name resize room  &nbsp;
  ol.usages

div.command
  h4.command-name set rooms notext  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change if the bot should create accompanying text channels by default (defaults to off)
      ul.params
        li.param 
          pre &#60;private notext defaulted&#62;

div.command
  h4.command-name set rooms unlocked  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change if the bot should create unlocked channels by default (defaults to off)
      ul.params
        li.param 
          pre &#60;private rooms defaulted&#62;

div.command
  h4.command-name set rooms shown  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change if the bot should create shown channels by default (defaults to off)
      ul.params
        li.param 
          pre &#60;shown rooms defaulted&#62;

div.command
  h4.command-name set rooms category  &nbsp;
    include ../../decals/elevated
  ol.usages
    li.usage
      span.description Change the bot's default category for temp rooms. Defaults to none.
      ul.params
        li.param 
          pre &#60;temp room default&#62;

div.command
  h4.command-name show  &nbsp;
  ol.usages

div.command
  h4.command-name unlock  &nbsp;
  ol.usages