div.command
  h4.command-name arcane
  ol.usages
    li.usage
      span.description Get information about an Arcane Enhancement
      ul.params
        li.param 
          pre &#60;enhancement name&#62;

div.command
  h4.command-name armor
  ol.usages
    li.usage
      span.description Display instructions for calculating armor
      ul.params
    li.usage
      span.description Display current damage resistance and amount of corrosive procs required to strip it.
      ul.params
        li.param 
          pre &#60;current armor&#62;
    li.usage
      span.description Display the current armor, damage resistance, and necessary corrosive procs to strip armor.
      ul.params
        li.param 
          pre &#60;base armor&#62;
        li.param 
          pre &#60;base level&#62;
        li.param 
          pre &#60;current level&#62;

div.command
  h4.command-name buildchart
  ol.usages
    li.usage
      span.description Display Weapon Build Flowchart chart
      ul.params

div.command
  h4.command-name damage
  ol.usages
    li.usage
      span.description Display Damage 2.0 chart
      ul.params

div.command
  h4.command-name efficiency
  ol.usages
    li.usage
      span.description Display Warframe Efficiency Chart
      ul.params

div.command
  h4.command-name enemy
  ol.usages
    li.usage
      span.description Get stats for an enemy
      ul.params
        li.param 
          pre &#60;enemy name&#62;

div.command
  h4.command-name frame
  ol.usages
    li.usage
      span.description Get stats for a Warframe
      ul.params
        li.param 
          pre &#60;warframe name&#62;

div.command
  h4.command-name fupdates
  ol.usages
    li.usage
      span.description Display themost recent RSS Update entries
      ul.params

div.command
  h4.command-name mod
  ol.usages
    li.usage
      span.description Search the Warframe Wiki for a mod's image
      ul.params

div.command
  h4.command-name pricecheck
  ol.usages
    li.usage
      span.description Display an items worth from nexus-stats.com
      ul.params
        li.param 
          pre &#60;item&#62;

div.command
  h4.command-name progress
  ol.usages
    li.usage
      span.description Display Warframe Progression Chart
      ul.params

div.command
  h4.command-name riven
  ol.usages
    li.usage
      span.description Get stats for a Weapon riven
      ul.params
        li.param 
          pre &#60;riven name&#62;

div.command
  h4.command-name shields
  ol.usages
    li.usage
      span.description Display an enemy's current shields.
      ul.params
        li.param 
          pre &#60;base shields&#62;
        li.param 
          pre &#60;base level&#62;
        li.param 
          pre &#60;current level&#62;

div.command
  h4.command-name tutorial
  ol.usages
    li.usage
      span.description Get a Warframe Tutorial Video
      ul.params
        li.param 
          pre &#60;subject&#62;

div.command
  h4.command-name weapon
  ol.usages
    li.usage
      span.description Get stats for a weapon
      ul.params
        li.param 
          pre &#60;weapon name&#62;

div.command
  h4.command-name whatsin
  ol.usages
    li.usage
      span.description Display what drops from a relic
      ul.params
        li.param 
          pre &#60;relic&#62;

div.command
  h4.command-name whereis
  ol.usages
    li.usage
      span.description Display where something drops from
      ul.params
        li.param 
          pre &#60;item&#62;

div.command
  h4.command-name wiki
  ol.usages
    li.usage
      span.description Search the Warframe wiki for a specific topic
      ul.params
        li.param 
          pre &#60;topic&#62;

div.command
  h4.command-name warmeme
  ol.usages
    li.usage
      span.description Generates a random meme from r/warframememes
      ul.params

div.command
  h4.command-name promocodes
  ol.usages
    li.usage
      span.description Get promocodes
      ul.params

div.command
  h4.command-name alert
  ol.usages
    li.usage
      span.description Display the currently active alerts
      ul.params

div.command
  h4.command-name arbi
  ol.usages
    li.usage
      span.description Display the currently active arbitration
      ul.params

div.command
  h4.command-name baro
  ol.usages
    li.usage
      span.description Display the current status of the Void Trader
      ul.params

div.command
  h4.command-name conclave
  ol.usages
    li.usage
      span.description Display conclave challenges for a challenge type.
      ul.params
        li.param 
          pre &#60;conclave category&#62;

div.command
  h4.command-name construction
  ol.usages
    li.usage
      span.description Display current construction progress.
      ul.params

div.command
  h4.command-name darvo
  ol.usages
    li.usage
      span.description Displays today's Darvo deal
      ul.params

div.command
  h4.command-name cycle
  ol.usages
    li.usage
      span.description Display Cetus's current cycle progress
      ul.params
    li.usage
      span.description Display Earth's current cycle progress
      ul.params
        li.param 
          pre &#60;earth&#62;

div.command
  h4.command-name acolyte
  ol.usages
    li.usage
      span.description Display any currently active acolyte-style enemies.
      ul.params

div.command
  h4.command-name events
  ol.usages
    li.usage
      span.description Display current events.
      ul.params

div.command
  h4.command-name featureddeal
  ol.usages
    li.usage
      span.description Displays current featured deals
      ul.params

div.command
  h4.command-name fissure
  ol.usages
    li.usage
      span.description Get the current list of Void Fissure Missions
      ul.params

div.command
  h4.command-name invasion
  ol.usages
    li.usage
      span.description Display the currently active Invasions
      ul.params

div.command
  h4.command-name kuva
  ol.usages
    li.usage
      span.description Display the currently active kuva missions
      ul.params

div.command
  h4.command-name news
  ol.usages
    li.usage
      span.description Display the currently active news
      ul.params

div.command
  h4.command-name nightwave
  ol.usages
    li.usage
      span.description Display the currently active nightwave season
      ul.params

div.command
  h4.command-name outpost
  ol.usages
    li.usage
      span.description Display the activity status of the Sentient Outpost
      ul.params

div.command
  h4.command-name popular deal
  ol.usages
    li.usage
      span.description Displays current featured deals
      ul.params

div.command
  h4.command-name primeaccess
  ol.usages
    li.usage
      span.description Display the currently active prime access news
      ul.params

div.command
  h4.command-name simaris
  ol.usages
    li.usage
      span.description Display current Sanctuary status.
      ul.params

div.command
  h4.command-name solaris
  ol.usages
    li.usage
      span.description Display the currently active Solaris bounties
      ul.params

div.command
  h4.command-name sortie
  ol.usages
    li.usage
      span.description Display the currently active sorties
      ul.params

div.command
  h4.command-name syndicate
  ol.usages
    li.usage
      span.description Display syndicate nodes for a syndicate.
      ul.params
        li.param 
          pre &#60;syndicate&#62;

div.command
  h4.command-name update
  ol.usages
    li.usage
      span.description Display the currently active update news
      ul.params