div.command
  h4.command-name arcane  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Get information about an Arcane Enhancement
      ul.params
        li.param 
          pre &#60;enhancement name&#62;

div.command
  h4.command-name armor  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display instructions for calculating armor
      ul.params
    li.usage
      span.description Display current damage resistance and amount of corrosive procs required to strip it.
      ul.params
        li.param 
          pre &#60;current armor&#62;
    li.usage
      span.description Display the current armor, damage resistance, and necessary corrosive procs to strip armor.
      ul.params
        li.param 
          pre &#60;base armor&#62;
        li.param 
          pre &#60;base level&#62;
        li.param 
          pre &#60;current level&#62;

div.command
  h4.command-name buildchart  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display Weapon Build Flowchart chart
      ul.params

div.command
  h4.command-name damage  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display Damage 2.0 chart
      ul.params

div.command
  h4.command-name efficiency  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display Warframe Efficiency Chart
      ul.params

div.command
  h4.command-name enemy  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Get stats for an enemy
      ul.params
        li.param 
          pre &#60;enemy name&#62;

div.command
  h4.command-name frame  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Get stats for a Warframe
      ul.params
        li.param 
          pre &#60;warframe name&#62;

div.command
  h4.command-name fupdates  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display themost recent RSS Update entries
      ul.params

div.command
  h4.command-name mod  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Search the Warframe Wiki for a mod's image
      ul.params

div.command
  h4.command-name pricecheck  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display an items worth from nexus-stats.com
      ul.params
        li.param 
          pre &#60;item&#62;

div.command
  h4.command-name progress  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display Warframe Progression Chart
      ul.params

div.command
  h4.command-name riven  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Get stats for a Weapon riven
      ul.params
        li.param 
          pre &#60;riven name&#62;

div.command
  h4.command-name shields  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display an enemy's current shields.
      ul.params
        li.param 
          pre &#60;base shields&#62;
        li.param 
          pre &#60;base level&#62;
        li.param 
          pre &#60;current level&#62;

div.command
  h4.command-name tutorial  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Get a Warframe Tutorial Video
      ul.params
        li.param 
          pre &#60;subject&#62;

div.command
  h4.command-name weapon  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Get stats for a weapon
      ul.params
        li.param 
          pre &#60;weapon name&#62;

div.command
  h4.command-name whatsin  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display what drops from a relic
      ul.params
        li.param 
          pre &#60;relic&#62;

div.command
  h4.command-name whereis  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display where something drops from
      ul.params
        li.param 
          pre &#60;item&#62;

div.command
  h4.command-name wiki  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Search the Warframe wiki for a specific topic
      ul.params
        li.param 
          pre &#60;topic&#62;

div.command
  h4.command-name warmeme  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Generates a random meme from r/warframememes
      ul.params

div.command
  h4.command-name promocodes  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Get promocodes
      ul.params

div.command
  h4.command-name alert  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active alerts
      ul.params

div.command
  h4.command-name arbi  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active arbitration
      ul.params

div.command
  h4.command-name baro  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the current status of the Void Trader
      ul.params

div.command
  h4.command-name conclave  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display conclave challenges for a challenge type.
      ul.params
        li.param 
          pre &#60;conclave category&#62;

div.command
  h4.command-name construction  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display current construction progress.
      ul.params

div.command
  h4.command-name darvo  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Displays today's Darvo deal
      ul.params

div.command
  h4.command-name cycle  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display Cetus's current cycle progress
      ul.params
    li.usage
      span.description Display Earth's current cycle progress
      ul.params
        li.param 
          pre &#60;earth&#62;

div.command
  h4.command-name acolyte  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display any currently active acolyte-style enemies.
      ul.params

div.command
  h4.command-name events  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display current events.
      ul.params

div.command
  h4.command-name featureddeal  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Displays current featured deals
      ul.params

div.command
  h4.command-name fissure  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Get the current list of Void Fissure Missions
      ul.params

div.command
  h4.command-name invasion  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active Invasions
      ul.params

div.command
  h4.command-name kuva  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active kuva missions
      ul.params

div.command
  h4.command-name news  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active news
      ul.params

div.command
  h4.command-name nightwave  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active nightwave season
      ul.params

div.command
  h4.command-name outpost  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the activity status of the Sentient Outpost
      ul.params

div.command
  h4.command-name popular deal  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Displays current featured deals
      ul.params

div.command
  h4.command-name primeaccess  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active prime access news
      ul.params

div.command
  h4.command-name simaris  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display current Sanctuary status.
      ul.params

div.command
  h4.command-name solaris  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active Solaris bounties
      ul.params

div.command
  h4.command-name sortie  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active sorties
      ul.params

div.command
  h4.command-name syndicate  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display syndicate nodes for a syndicate.
      ul.params
        li.param 
          pre &#60;syndicate&#62;

div.command
  h4.command-name update  &nbsp;
    include ../../decals/direct
  ol.usages
    li.usage
      span.description Display the currently active update news
      ul.params