- const page = 'commands'
include mixins/user
include mixins/channel
include mixins/game

html
  include /partials/head.pug
  head
    title Genesis | Commands
  body
    .container.d-flex.flex-column
      include /partials/header.pug

      .inner.d-flex.flex-column
        section.join.d-flex.justify-content-center
          h2 Stuff! Things! Commands!
              
      include /partials/footer.pug