- const page = 'index'
include mixins/user
include mixins/channel
include mixins/game

html
  include /partials/head.pug
  head
    title Genesis | About
  body
    .container.d-flex.flex-column
      include /partials/header.pug
      .inner.d-flex.flex-column
        include /partials/sections/about.pug
        include /partials/sections/d-widget.pug
        include /partials/sections/rules.pug
        include /partials/sections/join.pug
      include /partials/footer.pug